*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.bloque_1{
    background-image: url(imagenes/fondo_1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin: auto;
}
.barra_nav{
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid red;
}
.nav_item_img img{
    border-radius: 50%;
    height: 50px;
}
.nav_item_img {
   font-size: 50px;
   border: solid black;
   display: inline-block;
   margin-left: 50px;
}
.nav_item{
    border: solid yellow;
    display: inline-block;
    color: aqua;
    margin: 5px;
    border: solid rgb(15, 128, 0);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 5px;
}
.nav_item:hover{
    background-color: rgb(232, 74, 21);
}
.nav_item1{
    display: inline-block;
    margin-right: 30px;
    border: solid yellow;
    color: aqua;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 5px; 
}
.nav_item1:hover{
    background-color: rgb(223, 27, 27);
}
.boque_info_1{
    display: block;
    border: solid rgb(49, 124, 229);
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;  
}

.nombre{
    font-size:60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 156, 104);
}
.parrafo{
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 40px;
    margin-right: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: azure;
    border: solid rgb(255, 118, 6);
}
hr{
    border: none;
    border-top: 4px solid rgb(47, 255, 227);
    width: 10%;
    margin: 2px auto;
    border-radius: 3px;
}
.bar_redes{
    display: flex;
    border: solid rgb(229, 49, 184);
    align-items: center;
    justify-content: center;
    background-color: black;
}
.img_redes img{
    width: 25px;
}
.img_redes{
    display: inline-block;
    padding: 25px 10px;
    
}
.bloque_info_2_titulo{
    margin-top: auto;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 156, 104);
    border: solid rgb(243, 0, 0);
    padding-top: 100px;
    padding-bottom: 10px;
}
.bloque_info_2{
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(2, 129, 129);
    border: solid rgb(243, 0, 0);
}
.img_bus img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    display:block;
    margin: 10px;
}
.bloque_img{
    display: flex;
    flex-direction: column;
    border: solid rgb(229, 49, 184);
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 80px;
}
.bloque_img_sup{
    display: flex;
    flex-direction: row;
    border: solid yellow;
    color: aqua;
    margin: 0px;
    align-items: center;
    justify-content: center;

}
.bloque_img_sup img{
    width: 200px;
}
.bloque_img_inf{
    display: flex;
    flex-direction: row;
    border: solid yellow;
    color: aqua;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.bloque_img_inf img{
    width: 200px;
}
.bloque_2{
    background-color: black;
}